{{#each assessmentlist}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{firstName}}
      {{lastName}}
    </h2>
    <p> Total Duration: {{duration}} </p>
    <a href="/assessmentlist/{{id}}/user/{{userid}}" class="ui icon button">
      
      <i class="icon folder open"></i>
    </a>  
   </section>
{{/each}}