
<table class="ui table">
  <thead>
    This is the listassessmentforTTT partial
    
    <h2 class="ui header">
     {{title.firstName}}
    {{title.lastName}}'s
      Assessments
    </h2>
    
    
    <tr>
      <th>Weight </th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
    {{#each assessmentlist.assessmentResults}} 
       
    
      <tr>
            <td>
              {{weight}}
            </td>
            <td>
              {{chest}}
            </td>
            <td>
              {{thigh}}
            </td>
            <td>
              {{upperarm}}
            </td>
            <td>
              {{waist}}
            </td>
            <td>
              {{hips}}
            </td>
            <td>
              {{comments}}
            </td>
            <td>
            <a href="/assessment/{{../id}}/deleteAssessment/{{id}}" class="ui tiny red button"> Delete
         
            </a>
            </td>        
      </tr>
    <form class="ui segment form" action="/listassessment/addcomment/${assessment.id}" method="POST">
            <div class="field">

                <input placeholder="Comments" type="text" name="comment">
            </div>
            <button class="ui blue submit button">Add Comment</button>
        </form>
    
    {{/each}}  
  </tbody>
</table>