
<table class="ui table">
  <thead>
   
    <tr>
      <th>Date</th>
      <th>Weight </th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comments</th>
      <th>Trend</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
    {{#each assessmentlist}}
    {{#each assessmentResults}}
       
    
      <tr>
             <td>
              {{date}}
            </td>
            <td>
              {{weight}}
            </td>
            <td>
              {{chest}}
            </td>
            <td>
              {{thigh}}
            </td>
            <td>
              {{upperarm}}
            </td>
            <td>
              {{waist}}
            </td>
            <td>
              {{hips}}
            </td>
            <td>
              {{comments}}
            </td>
            <td>            
             {{#if  trend  }}
             <a class="ui teal tag label"></a>
             {{else}}
             <a class="ui red tag label"></a>
             {{/if}}
              </td>
            <td>
            <a href="/assessment/{{../id}}/deleteAssessment/{{id}}" class="ui tiny red button"> Delete
         
            </a>
            </td>        
      </tr>
    {{/each}} 
    {{/each}}  
  </tbody>
</table>