<h2 class="ui header">
     <th class="ui center aligned row"><i class="user icon"></i></th>
    {{title.firstName}}
    {{title.lastName}}
</h2>

{{#each assessmentlist.assessmentResults}} 

<table class="ui table">
     
     
     <thead>
    <tr>
      <th>Weight </th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comments</th>
    
    </tr>
  </thead>
  <tbody>       
    
      <tr>
            <td>
              {{weight}}
            </td>
            <td>
              {{chest}}
            </td>
            <td>
              {{thigh}}
            </td>
            <td>
              {{upperarm}}
            </td>
            <td>
              {{waist}}
            </td>
            <td>
              {{hips}}
            </td>
            <td>
              {{comments}}
            </td>
                  
      </tr>
    
  </tbody>
  </table>
    <form class="ui segment form" action="/assessmentlist/{{../assessmentlist.id}}/addcomment/{{id}}" method="POST">
   
           
            <div class="field">

                <input placeholder="Comments" type="text" name="comment">
            </div>
            <button class="ui blue submit button">Add Comment</button>
        </form>
    
    {{/each}}
