{{> menu id="dashboard"}}

<section class="ui raised segment">
  <table class="ui fixed table">
    <thead>
    <tr>
      <th class="ui center aligned row"><i class="user icon huge"></i> <p>{{title.firstName}} {{title.lastName}}</p></th>
      <th class="ui center aligned row"><i class="heartbeat icon huge"></i> <P>BMI -  {{bmi}}</P> </th>
      <th class="ui center aligned row"><i class="heartbeat icon huge"></i> <P>Goal Status -  {{goalstatus}}</P> </th>
      
      </tr>
    </thead>
  </table>


</section>

<section class="ui segment">
  
  
  <h2 class="ui header">
    {{title.firstName}}
    {{title.lastName}}'s
    Assessment List
  </h2>
 
  {{> listassessments}}
  {{> addassessments}}
  {{> addgoal}}
  
</section>
