{{> menu id="dashboard"}}


<section class="ui raised segment">
    <header class="ui header">
        {{user.firstName}} {{user.lastName}}'s Details
    </header>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Height</th>
            <th>Startweight</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">

            <tr>
                <td> {{user.firstName}} </td>
                <td> {{user.lastName}} </td>
                <td> {{user.email}} </td>
                <td> {{user.password}} </td>
                <td> {{user.gender}} </td>
                <td> {{user.height}}</td>
                <td> {{user.startweight}} </td>

        </div>
        </tbody>
    </table>

</section>


<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/settings/update/${member.id}" method="POST">
            <h3 class="ui header">Update Your Profile</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div class="address">
                <label>Address</label>
                <input placeholder="Address" type="text" name="address">
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder="Height" type="text" name="height">
                </div>
                <div class="field">
                    <label>Start Weight</label>
                    <input placeholder="Start Weight" type="text" name="startweight">
                </div>
            </div>
            <button class="ui blue submit button">Update</button>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="https://cdn.glitch.com/9f237fdc-5e7d-43e4-a6a5-e8c2b3be1f76%2Ftodo-1.png?1534758550390">
    </div>
</div>
